<div class="wrapper wrapper-content">
<div class="row animated fadeInLeft">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <div class="ibox-title">
      <h1 style="color:#898AA6"><strong>Your ConnectMed Consultation is Confirmed</strong></h1>
      <h3>The below details have been sent to your email address.<br>We look forward to serving you soon!</h3>
    </div>
    <div class="ibox-content">
            <p><strong>Consult Time:  </strong><%= @consult.slot.nil? ? "No time" : @consult.slot.time.strftime('%a %b %d %H:%M') %></p>
            <p><strong>Consult URL:  </strong><%= @consult.nil? ? "No url" : patient_consult_url(@consult) %></p>
            <p><strong>Purpose of Visit:  </strong><%= @consult.nil? ? "No purpose" : @consult.purpose_descrip %></p>
            <p><strong>Symptoms:  </strong><%= @consult.nil? ? "No purpose" : @consult.symptoms %></p>
            <a href="/patient/dashboard" class="btn btn-lg btn-pink" style="color:#fff">Back to Dashboard</a>
    </div>
  </div>
</div>
</div>

<% content_for :javascript do %>

<% end %>
