<div class="wrapper wrapper-content">
  <div class="row text-center">
    <div class="col-lg-12 text-center">
            <div class="ibox">
                <div class="ibox-content">
                <h1>Your prescription will be emailed to your chosen pharmacy within the next 2 hours.<br>Please contact us if you have any issues or questions (info@connectmed.co.za).</h1>
              <br><br>
                 <%= image_tag "doctor_circle.png", height:"200px" %>
                <h1><br>We hope you feel better soon and look forward to serving you again.</h1>
                </div>
            </div>
          </div>
    </div>
</div>
