<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 text-center">
            <div class="ibox">
                <div class="ibox-content" style="border:2px solid #898AA6;height:500px;border-radius: 10px;">
                    <%= image_tag "doctor_circle.png", width: "40%", style: "margin-top:70px" %>
                    <p style="width:50%;margin:auto"><br><a href="<%= url_for new_patient_consult_path %>" class="btn btn-primary btn-lg btn-block"><i class="fa fa-video-camera fa-stack-1x fa-inverse"></i><br>See a Doctor Now</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <div class="ibox">
                <div class="ibox-content" style="border:2px solid #898AA6;height:500px;border-radius: 10px;">
                    <%= image_tag "nurse_circle.png", width: "40%", style: "margin-top:70px" %>
                    <p style="width:50%;margin:auto"><br><a href="<%= url_for patient_slots_path %>" class="btn btn-primary btn-lg btn-block" ><i class="fa fa-calendar fa-stack-1x fa-inverse"></i><br>Schedule a Visit</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
