<div class="wrapper wrapper-content">
  <div class="row animated fadeInLeft">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h1>Your Privacy</h1>
        </div>
        <div class="ibox-content">
          <p>At ConnectMed, we take very seriously our responsibility to protect the privacy and security of your personal information. We store member personal information behind two layers of encryption in a secure digital environment that is continuously monitored and routinely tested by leading experts in health information security. We restrict access to this environment using multiple safeguards such as dual factor authentication to ensure that only authorized clinical professionals and administrative personnel can access member personal information, and only on an as-needed basis. Your privacy is protected under strict Company rules that prohibit the use or disclosure of member personal information in an improper manner or without proper authorization. These rules are set forth in our internal and Site privacy policies and are actively monitored and enforced.</p>
          <div class="row animated fadeInLeft">
            <div class="col-lg-6">
              <div class="ibox">
                <div class="ibox-title"><h3>Terms & Conditions</h3></div>
                <div class="ibox-content" style="overflow-y: auto; width: auto; height: 400px;">
                  <%= render "terms_text" %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ibox">
                <div class="ibox-title"><h3>Privacy Policy</h3></div>
                <div class="ibox-content" style="overflow-y: auto; width: auto; height: 400px;">
                      <%= render "privpol_text" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
