<div class="footer">
    <div class="pull-right">
<!--         <ul class="list-inline">
            <li><a href="https://twitter.com/ConnectMedZA"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://www.facebook.com/ConnectMedZA"><i class="fa fa-facebook"></i></a>
            </li>
        </ul> -->
    </div>
    <div>
        <strong>ConnectMed</strong> &copy; 2014-2015
    </div>
</div>
