<section class="landings-footer" style="margin-top:0px;background:#BBBDDB;">
<div class="container">
    <div class="row" style="margin:30px 0 10px 0">
        <div class="col-sm-2">
            <h3>COMPANY</h3>
            <ul>
                <li><a class="" href="/">How It Works</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">For Doctors</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <h3>LEARN MORE</h3>
            <ul>
                <li><a class="" href="/">How It Works</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">For Doctors</a></h3></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul>
                <li><a class="" href="/">Login</a></li>
                <li><a href="">Signup</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-offset-2">
            <h3>MISSION STATEMENT</h3>
            <h4>Our mission is to enable all Africans to live longer, healthier, happier lives no matter their income level.</h4>
            <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin:20px 0">
        <div class="col-sm-12 text-right">
            &copy; 2015-2016 <strong>ConnectMed</strong> . The Grange Barn, Pikes End, Pinner, Middlesex HA5 2EX. Company number 8614024.
        </div>
    </div>
</div>
</section>
