<section class="landings-footer" style="margin-top:10px;background:#BBBDDB;">
<div class="container">
    <div class="row" style="margin:30px 0 10px 0">
        <div class="col-sm-2">
            <h3 style="color:#898AA6">COMPANY</h3>
            <ul>
                <li><a class="" href="/about-us#mission">Our Mission</a></li>
                <li><a class="" href="/about-us#team">Our Team</a></li>
                <!-- <li><a href="">Terms of Use</a></li> -->
                <!-- <li><a href="">Privacy Policy</a></li> -->
            </ul>
        </div>
        <div class="col-sm-2">
            <h3 style="color:#898AA6">LEARN MORE</h3>
            <ul>
                <li><a class="" href="/how-it-works">How It Works</a></li>
                <!-- <li><a href="">Press</a></li> -->
                <li><a href="mailto:info@connectmed.co.za">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <h3 style="color:#898AA6">GET ACCESS</h3>
            <ul>
                <li><a href="/#register-form">Register</a></li>
                <li><a href="/doctor">For Doctors</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-offset-2" >
            <h3 style="color:#898AA6">MISSION STATEMENT</h3>
            <h4 style="color:#fff">Our mission is to enable all Africans to live longer, healthier, happier lives no matter their income level.</h4>
        </div>
    </div>
    <div class="row" style="margin:20px 0">
        <div class="col-sm-3 text-left" style="color:#fff">
            <a href="/"><%= image_tag('logos/fiver_no_tagline4.png',width:'100%') %></a>
            <!-- <h3>ConnectMed &copy; <span style="font-weight:0">2015-2016</span></h3> -->
        </div>
        <div class="col-sm-3 col-sm-offset-5 text-right">
           <ul class="list-inline social-icon text-center">
                <li><a href="https://twitter.com/ConnectMedZA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/ConnectMedZA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/company/10083046"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</section>
